html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  color: white;
}

main {
  flex: 1;
}



body {
  background-color: #121212 !important;
  color: white;
}

body.dark-theme {
  background-color: #121212;
  color: #f0f0f0;
}

.header {
  background-color: #1f1f1f !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.header .logo {
  color: #ffffff;
}

.header .navbar a {
  color: #f0f0f0;
}

.header .navbar a:hover {
  color: #ff7f50;
}

footer {
  background: #1f1f1f;
  color: #f0f0f0;
}

.footer-section h2, 
.footer-section h3,
.footer-section ul li a,
.footer-bottom p {
  color: #f0f0f0;
}

.footer-section ul li a:hover {
  color: #ff7f50;
}

.social-icons a {
  color: #f0f0f0;
}

.social-icons a:hover {
  color: #ff7f50;
}
